* {

  margin: 0;
  padding: 0;
  color: black;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

.navbar h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  font-weight: 200;
  font-size: 30px;
  margin-right: 400px;
  white-space: nowrap;
  /* Impede a quebra de linha */
  letter-spacing: 0.1px;
}





.link-home {

  text-decoration: none;
  color: black;


}

.login-e-cadastro {
  display: flex;
  border: 0.5px solid black;
  transition:
    transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 0.4s ease,
    background-color 0.3s ease;
}


.link-login,
.link-cadastrar {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 14px;
  transition:
    transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 0.4s ease,
    background-color 0.3s ease;
}

.link-login:hover,
.link-cadastrar:hover {
  border: 0.5px solid black;
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  background-color: rgb(20, 160, 130);
}

/* Borda entre os dois */
.link-login {
  border-right: 1px solid black;
}

.login-e-cadastro {
  display: flex;
  margin: 0;
  position: relative;
  left: -100px;
}